<div class="billing-container">
  <div class="billing-header">
    <div class="breadcrumbs">
      <a href="#">
        <mat-icon>home</mat-icon>
      </a> /
      <a href="#">Billing</a>
    </div>
    <h2 style="color: white;">Billing</h2>

  </div>

  <!-- Notifications and Card Information -->
  <div class="billing-cards">
    <div class="notification-nav">
      <div class="notification-tabs">

        <button>Messages</button>
        <button>Social</button>
        <button>Notifications</button>
        <button>Backup</button>

      </div>
    </div>


    <div class="card-details">
      <div class="container">
        <div class="card">
          <div class="card-inner">
            <div class="front">
              <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
              <div class="row">
                <img src="https://i.ibb.co/G9pDnYJ/chip.png" width="60px">
                <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="60px">
              </div>
              <div class="row card-no">
                <p>5244</p>
                <p>2150</p>
                <p>8252</p>
                <p>6420</p>
              </div>
              <div class="row card-holder">
                <p>CARD HOLDER</p>
                <p>VALID TILL</p>
              </div>
              <div class="row name">
                <p>BODA RAKESH</p>
                <p>10 / 25</p>
              </div>
            </div>
            <div class="back">
              <img src="https://i.ibb.co/PYss3yv/map.png" class="map-img">
              <div class="bar"></div>
              <div class="row card-cvv">
                <div>
                  <img src="https://i.ibb.co/S6JG8px/pattern.png">
                </div>
                <p>824</p>
              </div>
              <div class="row card-text">
                <p>this is a virtual card design using HTML and CSS. You can aslo design something like this.</p>
              </div>
              <div class="row signature">
                <p>CUSTOMER SIGNATURE</p>
                <img src="https://i.ibb.co/WHZ3nRJ/visa.png" width="80px">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container2">
        <div class="salary">
          <mat-icon class="icon">account_balance</mat-icon>
          <div class="details">
            <h3>Salary</h3>
            <hr />
            <p><strong>+ $2000</strong></p>
          </div>
        </div>
        <div class="paypal">
          <mat-icon class="icon">paypal</mat-icon>
          <div class="details">
            <h3>Paypal</h3>
            <hr />
            <p><strong>$455.00</strong></p>
          </div>
        </div>
      </div>
      <div class="invoices">
        <div class="header">
          <h3 style=" color:#2c3e50; 
  font-weight: bold;">Invoices</h3>
          <button class="view-all">View All</button>
        </div>
        <div class="invoice-data">
          <div class="invoice-info">
            <p class="invoice-date">March, 01, 2020</p>
            <p class="invoice-id">#MS-415646</p>
          </div>
          <div class="amount-pdf">
            <p class="amount">$180</p>
            <mat-icon class="pdf-icon">picture_as_pdf</mat-icon>
            <p class="pdf-text"><strong>PDF</strong></p>
          </div>
        </div>
        <div class="invoice-data">
          <div class="invoice-info">
            <p class="invoice-date">February, 10, 2021</p>
            <p class="invoice-id">#RV-126749</p>
          </div>
          <div class="amount-pdf">
            <p class="amount">$250</p>
            <mat-icon class="pdf-icon">picture_as_pdf</mat-icon>
            <p class="pdf-text"><strong>PDF</strong></p>
          </div>
        </div>
        <div class="invoice-data">
          <div class="invoice-info">
            <p class="invoice-date">April, 05, 2020</p>
            <p class="invoice-id">#QW-103578</p>
          </div>
          <div class="amount-pdf">
            <p class="amount">$120</p>
            <mat-icon class="pdf-icon">picture_as_pdf</mat-icon>
            <p class="pdf-text"><strong>PDF</strong></p>
          </div>
        </div>
        <div class="invoice-data">
          <div class="invoice-info">
            <p class="invoice-date">June, 25, 2019</p>
            <p class="invoice-id">#MS-415646</p>
          </div>
          <div class="amount-pdf">
            <p class="amount">$180</p>
            <mat-icon class="pdf-icon">picture_as_pdf</mat-icon>
            <p class="pdf-text"><strong>PDF</strong></p>
          </div>
        </div>
        <div class="invoice-data">
          <div class="invoice-info">
            <p class="invoice-date">March, 01, 2019</p>
            <p class="invoice-id">#AR-803481</p>
          </div>
          <div class="amount-pdf">
            <p class="amount">$300</p>
            <mat-icon class="pdf-icon">picture_as_pdf</mat-icon>
            <p class="pdf-text"><strong>PDF</strong></p>
          </div>
        </div>


      </div>
    </div>
    <!-- Payment Method Section -->
    <div class="payment-info">
      <div class="payment-header">
        <h3 class="payment-title">Payment Method</h3>
        <button class="add-new-card">+ Add New Card</button>
      </div>
      <div class="cards-container">
        <div class="payment-card visa-card">

          <i class="fab fa-cc-visa card-logo"></i>
          <p class="card-number">**** **** **** 7852</p>

          <mat-icon class="edit-icon">edit</mat-icon>
        </div>
        <div class="payment-card mastercard-card">

          <i class="fab fa-cc-mastercard card-logo"></i>
          <p class="card-number">**** **** **** 5248</p>

          <mat-icon class="edit-icon">edit</mat-icon>
        </div>
      </div>
    </div>


    <div class="billing-info-container">
      <h2>Billing Information</h2>

      <!-- User 1: Oliver Liam -->
      <div class="billing-info-item">
        <div class="billing-info-details">
          <p><strong>Oliver Liam</strong></p>
          <p>Company Name: Viking Burrito</p>
          <p>Email Address: oliver@burrito.com</p>
          <p>VAT Number: FRB1235476</p>
        </div>
        <div class="billing-info-actions">
          <button class="edit-action"><mat-icon>edit</mat-icon> Edit</button>
          <button class="delete-action"><mat-icon>delete</mat-icon> Delete</button>
        </div>
      </div>

      <!-- User 2: Lucas Harper -->
      <div class="billing-info-item">
        <div class="billing-info-details">
          <p><strong>Lucas Harper</strong></p>
          <p>Company Name: Stone Tech Zone</p>
          <p>Email Address: lucas@stone-tech.com</p>
          <p>VAT Number: FRB1235476</p>
        </div>
        <div class="billing-info-actions">
          <button class="edit-action"><mat-icon>edit</mat-icon> Edit</button>
          <button class="delete-action"><mat-icon>delete</mat-icon> Delete</button>
        </div>
      </div>

      <!-- User 3: Ethan James -->
      <div class="billing-info-item">
        <div class="billing-info-details">
          <p><strong>Ethan James</strong></p>
          <p>Company Name: Fiber Notion</p>
          <p>Email Address: ethan@fiber.com</p>
          <p>VAT Number: FRB1235476</p>
        </div>
        <div class="billing-info-actions">
          <button class="edit-action"><mat-icon>edit</mat-icon> Edit</button>
          <button class="delete-action"><mat-icon>delete</mat-icon> Delete</button>
        </div>
      </div>
    </div>


    <div class="transactions-container">
      <div class="transactions-header">
        <span class="transactions-title">Your Transactions</span>
        <mat-icon class="calendar-icon">calendar_today</mat-icon>
        <span class="date-range">23 - 30 March 2024</span>
      </div>


      <!-- Transaction 2 -->
      <h3 style="font-size: 1.0rem;
       font-weight: bold;
       color: #2c3e50;">Newest</h3>
      <div class="transaction-row">
        <mat-icon
          style="font-size: 24px; color: white; background-color: red; border-radius: 50%; padding: 1px; display: inline-block; text-align: left; vertical-align: middle; margin-left: -10px;">
          arrow_downward
        </mat-icon>
        <div class="transaction-details">
          <strong>Netflix</strong><br>
          <span>27 March 2020, at 12:30 PM</span>
        </div>

        <span style="color: red;margin-left: 60px;"><strong>- $2,500</strong></span>
      </div>
      <div class="transaction-row">
        <mat-icon
          style="font-size: 24px; color: white; background-color: rgb(79, 198, 31); border-radius: 50%; padding: 1px; display: inline-block; text-align: left; vertical-align: middle; margin-left: -10px;">
          arrow_upward
        </mat-icon>
        <div class="transaction-details">
          <strong>Apple</strong><br>
          <span>27 March 2020, at 04:30 AM</span>
        </div>

        <span style="color: rgb(79, 198, 31);margin-left: 60px;"><strong>+ $2,000</strong></span>
      </div>
      <h3 style="font-size: 1.0rem;
       font-weight: bold;
       color: #2c3e50;">YESTERDAY</h3>
      <div class="transaction-row">
        <mat-icon
          style="font-size: 24px; color: white; background-color: rgb(79, 198, 31); border-radius: 50%; padding: 1px; display: inline-block; text-align: left; vertical-align: middle; margin-left: -10px;">
          arrow_upward
        </mat-icon>
        <div class="transaction-details">
          <strong>Stripe</strong><br>
          <span>26 March 2020, at 13:45 PM</span>
        </div>

        <span style="color: rgb(79, 198, 31);margin-left: 60px;"><strong>+ $750</strong></span>
      </div>
      <div class="transaction-row">
        <mat-icon
          style="font-size: 24px; color: white; background-color: rgb(79, 198, 31); border-radius: 50%; padding: 1px; display: inline-block; text-align: left; vertical-align: middle; margin-left: -10px;">
          arrow_upward
        </mat-icon>
        <div class="transaction-details">
          <strong>HubSpot</strong><br>
          <span>26 March 2020, at 12:30 PM</span>
        </div>

        <span style="color: rgb(79, 198, 31);margin-left: 60px;"><strong>+ $1000</strong></span>
      </div>

      <div class="transaction-row">
        <mat-icon
          style="font-size: 24px; color: white; background-color:  rgb(79, 198, 31); border-radius: 50%; padding: 1px; display: inline-block; text-align: left; vertical-align: middle; margin-left: -10px;">
          arrow_upward
        </mat-icon>
        <div class="transaction-details">
          <strong>Creative Tim</strong><br>
          <span>26 March 2020, at 08:30 AM</span>
        </div>

        <span style="color: rgb(79, 198, 31);margin-left: 60px;"><strong>+ $2500</strong></span>
      </div>
      <div class="transaction-row">
        <mat-icon
          style="font-size: 24px; color: white; background-color: lightgray; border-radius: 50%; padding: 1px; display: inline-block; text-align: center; vertical-align: middle; margin-left: -10px;">
          !
        </mat-icon>
        <div class="transaction-details">
          <strong>Webflow</strong><br>
          <span>26 March 2020, at 05:00 AM</span>
        </div>

        <span style="color: rgb(100, 103, 101);margin-left: 60px;"><strong>PENDING</strong></span>
      </div>
    </div>

  </div>
</div>