/* You can add global styles to this file, and also import other style files */
@import '~@fortawesome/fontawesome-free/css/all.min.css';
* {
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width/height */
    margin: 0; /* Resets the default margin */
    padding: 0; /* Resets the default padding */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
